:root {
  --primary-background-color: #ffffff;
  --button-background-color: #f8f9fa;
  --footer-background-color: #f2f2f2;
  --header-text-color: #000000de;
  --button-text-color: #3c4043;
  --change-language-text-color: #4d5156;
  --footer-text-color: #202124;
  --primary-font-family: arial, sans-serif;
  --secondary-font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  --header-font-size: 1.3rem;
  --large-font-size: 1.5rem;
  --medium-font-size: 1.4rem;
  --small-font-size: 1.3rem;
}

body {
  font-family: var(--primary-font-family);
  background-color: var(--primary-background-color);
}

.main-header {
  position: absolute;
  top: 0;
  padding: 12px 28px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navbar__list-left,
.navbar__list-right {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item--menu-icon,
.navbar__link--all-link,
.main-footer__item--hidden,
.main-footer__link--dark-theme {
  display: none;
}

.navbar__item {
  margin-right: 20px;
}

.navbar__list-right .navbar__item:last-child {
  margin-right: 0;
}

.navbar__link {
  color: var(--header-text-color);
  font-size: var(--header-font-size);
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__profile-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  max-width: 580px;
}

.search-container__logo-container {
  margin-bottom: 32px;
}

.search-container__google-logo {
  aspect-ratio: 5/2;
  width: 100%;
}

.search-container__search-field {
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 100%;
}

.search-container__search-field:hover {
  -webkit-box-shadow: 1px 1px 11px -2px #dadce0;
  -moz-box-shadow: 1px 1px 11px -2px #dadce0;
  box-shadow: 1px 1px 11px -2px #dadce0;
}

.search-container__label-search-icon {
  height: 22px;
}

.search-container__search-voice-icon,
.search-container__search-image-icon,
.search-container__search-icon {
  width: 22px;
  height: 22px;
}

.search-container__search-image-icon {
  margin-left: 12px;
}

.search-container__search-input {
  width: 100%;
  margin: 0 10px 4px;
  border: none;
  font-size: var(--large-font-size);
  background-color: transparent;
}

.search-container__search-input::-webkit-search-cancel-button {
  appearance: none;
  height: 24px;
  width: 24px;
  background-image: url(../assets/icons/close_FILL0_wght400_GRAD0_opsz24.svg);
  background-size: 24px 24px;
}

.search-container__search-input:focus {
  outline: none;
}

.search-container__voice-image-icons-container {
  display: flex;
  height: 22px;
}

.search-container__icon-link {
  text-decoration: none;
}

.search-container__button-container {
  margin: 32px 0;
}

.search-container__button:nth-child(1) {
  margin-right: 12px;
}

.search-container__button {
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: var(--medium-font-size);
  color: var(--button-text-color);
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
}

.search-container__button:hover {
  border-color: #dadce0;
}

.search-container__change-language-text {
  text-align: center;
  color: var(--change-language-text-color);
  font-size: var(--small-font-size);
}

.search-container__change-language-link {
  color: #1a0dab;
  text-decoration: none;
}

.search-container__change-language-link:hover {
  text-decoration: underline;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-background-color);
}

.main-footer__country-text-container {
  border-bottom: 1px solid #dadce0;
}

.main-footer__country-text-container,
.main-footer__list {
  font-size: var(--large-font-size);
  color: var(--footer-text-color);
  padding: 14px 28px;
}

.main-footer__menu {
  display: flex;
  justify-content: space-between;
}

.main-footer__list {
  display: flex;
  list-style: none;
  gap: 28px;
}

.main-footer__link {
  text-decoration: none;
  color: var(--footer-text-color);
}

.main-footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  body {
    font-family: var(--secondary-font-family);
  }

  .main-header {
    padding: 8px 12px;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar__list-left .navbar__item:nth-child(1),
  .navbar__link--all-link,
  .main-footer__item--hidden {
    display: inline-block;
  }

  .navbar__list-right .navbar__item:nth-child(1),
  .navbar__link--gmail-link,
  .search-container__button-container,
  .main-footer__list--hidden {
    display: none;
  }

  .navbar__link {
    padding: 12px 0;
    color: #5f6368;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }

  .navbar__link:focus {
    color: #0000ff;
    border-color: #0000ff;
  }

  .navbar__link:hover {
    text-decoration: none;
  }

  .search-container__change-language-text {
    margin-top: 32px;
  }

  .main-footer__country-text-container {
    text-align: center;
  }

  .main-footer__menu {
    justify-content: center;
  }

  .main-footer__list {
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--small-font-size);
  }
}

@media (max-height: 500px) {
  /* Prevent the main content from covering the header when the viewport height is reduced */
  .main-header {
    position: initial;
  }

  /* Prevent the footer from covering the main content when the viewport height is reduced */
  .main-footer {
    position: initial;
  }
}
